.plus-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.todo-input-wrapper {
  display: flex;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e8f8;
}
.todo-input-wrapper input {
  background-color: #e2e8f8;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  font-family: "Poppins", sans-serif;
}
.todo-input-wrapper button {
  background-color: #d1fae5;
  color: #059669;
  border: 0;
  border-radius: 5px;
}
